<header>
    <i class="fas fa-times"></i>
    <h2>NOVO STREAMING</h2>
</header>
<main>
    <img src="" alt="foto do streaming">

    <form action="">
        <label for="name">Name</label>
        <select name="name" id="streamingName">
            <option value="">None</option>
            <option value="">Disney+</option>
        </select>
        
        <label for="price">Preço</label>
        <input type="number" name="price" id="">
    </form>
    <form class="example-form">

          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>

      </form>
</main>