<header>
  <a routerLink="/home">
    <i class="fas fa-times"></i>
  </a>
  <h2>NOVO STREAMING</h2>
</header>
<main>
  <img src="{{chosenStreaming.logo}}" alt="foto do streaming">
  <form action="" #formS="ngForm" (ngSubmit)="addStreaming()">
    <mat-form-field>
      <mat-label for="name">Nome</mat-label>
      <input matInput (keydown.enter)="selectedStreaming()"  [(ngModel)]="chosenStreaming.name" type="text"
        placeholder="Nome do serviço" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selectedStreaming()">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="price">Preço</mat-label>
      <input matInput type="number" name="price" id="" [(ngModel)]="chosenStreaming.price">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="shared">Dividido entre</mat-label>
      <input matInput type="number" name="shared" id="" [(ngModel)]="chosenStreaming.sharedWith">
    </mat-form-field>
    <input type="submit" value="Salvar">
  </form>
</main>