.separador{
    height: 1px;
    background-color: white;
    width: 95%;
    
}

header{
    background-color: lightgray;
    padding: 1rem;
    div{
        display: flex;
        justify-content:space-between;
        margin: 2em 0;
        img{
            border-radius: 50%;
            width: 50px;
        }
    }
    p{
        font-size: 0.8em;
    }
    h2{
        font-size: 2.5em;
    }
}
main{
    h2{
        margin-top: 2em;
        text-align: center;
    }
    section{
        background-color: gray;
        margin: 1em 1em;
        border-radius: 8px;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            .items{
                width: 100%;
                display: flex;
                height: 4em;
                align-items: center;
                justify-content: space-between;
                img{
                    height: 2em;
                    width: 2em;
                    border-radius: 50%;
                    margin-left: 1em;
                    flex: 1;
                }
                div{
                    flex: 4;
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    padding: 1em;
                    p{
                        margin: 0;
                    }
                }
                .price{
                    flex: 3;
                    font-size: 1.7em;
                    margin: 0;
                }

            }
        }
    }
}

.add{
    position: fixed;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    button{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: gray;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 2em;
        color: white;
    }
}