<header>
  <div>
    <img src="" alt="logo" />
    <img src="" alt="user" />
  </div>
  <p>Valor total:</p>
  <h2>R$ {{ payingValue }}</h2>
</header>
<main>
  <h2>Streamings ativos</h2>
  <section>
    <form *ngFor="let i of streaming">
      <div class="items">
        <img src="{{ i.logo }}" alt=""/>
        <div>
          <p>{{ i.name }}</p>
          <p>individual</p>
        </div>
        <p class="price">R$ {{ i.price }}</p>
      </div>
      <div class="separador"></div>
    </form>
</section>
  <div class="" id="addStreaming">+</div>
</main>
