<header>
  <div>
    <img src="" alt="logo" />
    <div >
      <button class="user-profile" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <p>{{user.name}}</p>
        <img src="{{user.photo}}" alt="user" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='sair()'>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <p>Valor total:</p>
  <h2>{{ payingValue | currency:"BRL" }}</h2>
</header>
<main class="container">
  <section class="banner">

  </section>
  <section class="info">
    <h2>Streamings ativos</h2>
    <div>
      <p>Valor total:</p>
      <h2>{{ payingValue | currency:"BRL" }}</h2>
    </div>
  </section>
  <section class="list">
    <form *ngFor="let i of items ">
      <div class="items">
        <img src="{{ i.logo }}" alt="logo" />
        <div>
          <p>{{ i.name }}</p>
          <p>{{i.sharedWith}} pessoas</p>
        </div>
        <h2 class="price"> {{ i.price/i.sharedWith | currency:"BRL"}}</h2>
      </div>
      <div class="separador" *ngIf="(i != items[items.length-1])"></div>
    </form>
    <div class='addCenter'>
      <button class="add" id="addStreaming" routerLink="/addStreaming">
        <div>+</div>
      </button>
    </div>
  </section>
</main>
<!-- <button (click)="app()">aaaaaaaaaaa</button> -->